---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Rainforestqa/notification
    body:
      encoding: UTF-8
      string: '{"color":"red","message":"Your Rainforest Run \u003chttp://www.rainforestqa.com/
        | Run #9: rainforest run\u003e failed. Time to finish: 12 minutes 30 seconds","notify":true,"message_format":"text"}'
    headers:
      Authorization:
      - Bearer SFLaaWu13VxCd7ew4FqNnNJeCcoAZ8MF4kofX3GZ
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1441401180.0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Sep 2015 21:12:33 GMT
recorded_with: VCR 2.9.3
