---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Your Rainforest Run \u003chttp://example.com|#123\u003e
        (some description) failed.","fallback":"Your Rainforest Run \u003chttp://example.com|#123\u003e
        (some description) failed.","color":"danger"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: No active hooks
  recorded_at: Tue, 01 Sep 2015 18:13:06 GMT
recorded_with: VCR 2.9.3
