---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1141528/stories
    body:
      encoding: UTF-8
      string: '{"name":"Your Rainforest Run \u003chttp://www.rainforestqa.com/ | Run
        #9: rainforest run\u003e failed. Time to finish: 12 minutes 30 seconds","description":"Failed
        Tests:\nAlways fails: http://www.rainforestqa.com/\n","story_type":"bug","labels":[{"name":"rainforest"}]}'
    headers:
      X-Trackertoken:
      - 8537292c903ca580bcd10b800709a136
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '44'
      Etag:
      - '"d60c2e263c485db79c3cf216b3acbde0"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":102954160,"project_id":1141528,"name":"Your Rainforest
        Run <http://www.rainforestqa.com/ | Run #9: rainforest run> failed. Time to
        finish: 12 minutes 30 seconds","description":"Failed Tests:\nAlways fails:
        http://www.rainforestqa.com/\n","story_type":"bug","current_state":"unscheduled","requested_by_id":1408618,"owner_ids":[],"labels":[{"kind":"label","id":9144470,"project_id":1141528,"name":"rainforest","created_at":"2014-08-07T20:36:35Z","updated_at":"2014-08-07T20:36:35Z"}],"created_at":"2015-09-08T21:46:05Z","updated_at":"2015-09-08T21:46:05Z","url":"https://www.pivotaltracker.com/story/show/102954160"}'
  recorded_at: Tue, 08 Sep 2015 21:46:06 GMT
recorded_with: VCR 2.9.3
