---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Rainforestqafakeroom/notification
    body:
      encoding: UTF-8
      string: '{"color":"red","message":"Your Rainforest Run (\u003ca href=\"http://www.rainforestqa.com/\"\u003eRun
        #9: rainforest run\u003c/a\u003e) failed. Time to finish: 12 minutes 30 seconds","notify":true,"message_format":"html"}'
    headers:
      Authorization:
      - Bearer SFLaaWu13VxCd7ew4FqNnNJeCcoAZ8MF4kofX3GZ
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1441926480.0'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "code": 404,
            "message": "Room not found",
            "type": "Not Found"
          }
        }
  recorded_at: Thu, 10 Sep 2015 23:07:16 GMT
recorded_with: VCR 2.9.3
