---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1141528/stories
    body:
      encoding: UTF-8
      string: '{"name":"Your Rainforest Run \u003chttp://www.rainforestqa.com/ | Run
        #9: rainforest run\u003e failed. Time to finish: 12 minutes 30 seconds","description":"Failed
        Tests:\nAlways fails: http://www.rainforestqa.com/\n","story_type":"bug","labels":[{"name":"rainforest"}]}'
    headers:
      X-Trackertoken:
      - foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"code":"invalid_authentication","kind":"error","error":"Invalid authentication
        credentials were presented.","possible_fix":"Verify that your token value
        matches what''s shown on your Profile page in Tracker."}'
  recorded_at: Wed, 09 Sep 2015 20:38:09 GMT
recorded_with: VCR 2.9.3
