---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1141528/stories
    body:
      encoding: UTF-8
      string: '{"name":"Your Rainforest Run (Run #9: : rainforest run - http://www.rainforestqa.com/)
        errored: This is a test error.","description":null,"story_type":"bug","labels":[{"name":"rainforest"}]}'
    headers:
      X-Trackertoken:
      - 8537292c903ca580bcd10b800709a136
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '48'
      Etag:
      - '"6913691e442886f006355250dfadcbed"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":103149402,"project_id":1141528,"name":"Your Rainforest
        Run (Run #9: : rainforest run - http://www.rainforestqa.com/) errored: This
        is a test error.","story_type":"bug","current_state":"unscheduled","requested_by_id":1408618,"owner_ids":[],"labels":[{"kind":"label","id":9144470,"project_id":1141528,"name":"rainforest","created_at":"2014-08-07T20:36:35Z","updated_at":"2014-08-07T20:36:35Z"}],"created_at":"2015-09-10T22:54:00Z","updated_at":"2015-09-10T22:54:00Z","url":"https://www.pivotaltracker.com/story/show/103149402"}'
  recorded_at: Thu, 10 Sep 2015 22:54:01 GMT
recorded_with: VCR 2.9.3
