---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1141528/stories
    body:
      encoding: UTF-8
      string: '{"name":"Your Rainforest Run \u003chttp://www.rainforestqa.com/ | Run
        #9: rainforest run\u003e errored: This is a test error.","description":null,"story_type":"bug","labels":[{"name":"rainforest"}]}'
    headers:
      X-Trackertoken:
      - 8537292c903ca580bcd10b800709a136
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '47'
      Etag:
      - '"c755da08aaba91eb5e6c3e314d318c2d"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":103040600,"project_id":1141528,"name":"Your Rainforest
        Run <http://www.rainforestqa.com/ | Run #9: rainforest run> errored: This
        is a test error.","story_type":"bug","current_state":"unscheduled","requested_by_id":1408618,"owner_ids":[],"labels":[{"kind":"label","id":9144470,"project_id":1141528,"name":"rainforest","created_at":"2014-08-07T20:36:35Z","updated_at":"2014-08-07T20:36:35Z"}],"created_at":"2015-09-09T21:12:16Z","updated_at":"2015-09-09T21:12:16Z","url":"https://www.pivotaltracker.com/story/show/103040600"}'
  recorded_at: Wed, 09 Sep 2015 21:12:16 GMT
recorded_with: VCR 2.9.3
