---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Webhook of run 0 timed out","fallback":"Webhook
        of run 0 timed out","color":"danger"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Thu, 18 Jun 2015 01:30:30 GMT
recorded_with: VCR 2.9.3
