---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Your Rainforest Run (\u003c | Run #\u003e)
        has a failed at test! Test #7: My lucky test","fallback":"Your Rainforest
        Run (\u003c | Run #\u003e) has a failed at test! Test #7: My lucky test","color":"danger"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Thu, 10 Sep 2015 22:53:59 GMT
recorded_with: VCR 2.9.3
